.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #227ec9;
  height: 100%;
}
body {
  height: 100vh;
}
#question {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
#countdown {
  font-size: 2.3rem;
  font-weight: bold;
}
.button {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  width: 100%;
  min-height: 24px;
  padding: 2px 14px;
  color: var(--text-color);
  background: #ffffff;
  border: 1px solid var(--x-normal-border-color);
  border-radius: 4px;
  --x-normal-border-color: #acacac;
  --x-toggled-border-color: hsl(
    var(--accent-color-h),
    var(--accent-color-s),
    calc(var(--accent-color-l) - 8%)
  );
  --x-pressed-border-color: hsl(
    var(--accent-color-h),
    var(--accent-color-s),
    calc(var(--accent-color-l) - 12%)
  );
}
img {
  width: 99%; /* you can use % */
  height: auto;
}
